.backstage {
  position: relative;
  color: var(--black-blue);
  padding-top: 140px;
  padding-bottom: 180px;
}

.backstage .container {
  display: grid;
  grid-template-columns: 609px 1fr;
  gap: 87px;

  height: 403px;
}

.backstage .bamboo-cap-img {
  height: 403px;
  width: 609px;
  background-image: url("../../../assets/images/bamboo-cap.jpg");
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(2px);
}

.backstage h2 {
  margin-bottom: 20px;
}

.backstage p.subtitle {
  margin-top: 54px;
  margin-bottom: 34px;
}

.backstage .flower-img {
  position: absolute;
  top: 12px;
  left: calc(100% - 293px + 93px);

  width: 293px;
  height: 605px;
  background: url("../../../assets/images/flower_foto1.png");
  background-repeat: no-repeat;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media (max-width: 1600px) {
  .backstage .flower-img {
    left: calc(1600px - 293px + 93px);
  }
}

@media (max-width: 1200px) {
  .backstage {
    padding-top: 100px;
    padding-bottom: 142px;
  }

  .backstage .container {
    grid-template-columns: 1fr 454px;
    gap: 31px;
    height: 427px;
  }

  .backstage .bamboo-cap-img {
    margin-top: 9.5px;
    height: 408px;
    width: 100%;
  }
}

@media (max-width: 780px) {
  .backstage .container {
    display: block;
    height: 367px;
  }

  .backstage .bamboo-cap-img {
    display: none;
  }

  .backstage aside {
    width: 495px;
  }

  .backstage .flower-img {
    left: calc(100vw - 231px + 63px);
  }
}

@media (max-width: 700px) {
  .backstage {
    padding-top: 60px;
    padding-bottom: 80px;
  }

  .backstage h2 {
    margin-left: 4px;
  }

  .backstage p.subtitle {
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 4px;
  }

  .backstage .flower-img {
    top: -65px;
    left: calc(100vw - 231px + 50px);
    scale: calc(231 / 293);
    width: 231px;
    background-position: center;
  }
}
