.pick-and-feed {
  height: 1004px;
  background: var(--orange-gradient);
  opacity: 0.9;
  color: var(--black-blue);
}

.pick-and-feed .container {
  position: relative;
  margin: 69px auto;
  height: 835px;

  background: var(--frosted-glass-white);
  backdrop-filter: blur(2px);
  border-radius: 20px;
}

.pick-and-feed h2 {
  position: absolute;
  width: 463px;
  height: 58px;
  left: calc(50% - 463px / 2 + 1.5px);
  top: 41px;

  text-align: center;
  color: #fe9013;
}

.pick-and-feed p.subtitle {
  position: absolute;
  width: 843px;
  height: 29px;
  left: calc(50% - 843px / 2 - 59.5px);
  top: 129px;
}

.pick-and-feed p:nth-of-type(2) {
  position: absolute;
  width: 1061px;
  height: 21px;
  left: calc(50% - 1061px / 2 + 49.5px);
  top: 198px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
}

.pick-and-feed p:nth-of-type(3) {
  position: absolute;
  width: 863px;
  height: 42px;
  left: calc(50% - 863px / 2 - 49.5px);
  top: 229px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
}

.pick-and-feed p:nth-of-type(3) a {
  position: relative;
  color: var(--black-blue);
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  overflow: hidden;
}

.pick-and-feed p:nth-of-type(3) a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 1px;
  background-color: #fe9013;
}

.pick-and-feed p:nth-of-type(3) a:hover::after {
  background-color: var(--green);
}

.pick-and-feed h3 {
  position: absolute;
  width: 209px;
  height: 47px;
  left: 50%;
  top: 331px;
  translate: -50%;
}

.pick-and-feed .widget {
  position: absolute;
  width: 168px;
  height: 244px;
  top: 418px;
}

.pick-and-feed .widget.pay {
  left: calc(50% - 168px / 2 - 298px);
}

.pick-and-feed .widget.zoo {
  left: calc(50% - 168px / 2);
}

.pick-and-feed .widget.monkey {
  left: calc(50% - 168px / 2 + 298px);
}

.pick-and-feed .widget .border {
  position: absolute;
  top: 0;
  left: 0;
  width: 168px;
  height: 168px;
  border-radius: 5px;
  background: var(--orange);
}

.pick-and-feed .widget .icon {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  border: 1px solid transparent;
  background: #ffffff padding-box;
}

.pick-and-feed .widget.pay .icon,
.pick-and-feed .widget.monkey .icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pick-and-feed .widget.pay .icon .image {
  height: 60px;
  width: 108px;
  background-image: url("../../../assets/icons/widgets/pay.png");
}

.pick-and-feed .widget.zoo .icon .image {
  margin-top: 37px;
  margin-left: 41px;
  height: 96px;
  width: 87px;
  background-image: url("../../../assets/icons/widgets/zoo.png");
}

.pick-and-feed .widget.monkey .icon .image {
  height: 73px;
  width: 126px;
  background-image: url("../../../assets/icons/widgets/monkey.png");
}

.pick-and-feed .widget p {
  position: absolute;
  left: 0;
  top: 198px;
}

.pick-and-feed .widget.pay::after,
.pick-and-feed .widget.zoo::after {
  content: "";
  position: absolute;
  top: 62px;
  left: calc(100% + 30px);
  width: 71px;
  height: 37px;
  background-image: url("../../../assets/icons/widgets/arrow.png");
}

.pick-and-feed button {
  position: absolute;
  width: 298px;
  height: 54px;
  left: 50%;
  top: 722px;
  translate: -50%;
}

@media (max-width: 1200px) {
  .pick-and-feed {
    height: 876px;
    padding-top: 30px;
    padding-bottom: 50px;
  }

  .pick-and-feed .container {
    margin: 0 auto;
    height: 796px;
  }

  .pick-and-feed h2 {
    top: 30px;
  }

  .pick-and-feed p.subtitle {
    left: 49px;
    top: 108px;
  }

  .pick-and-feed p:nth-of-type(2) {
    width: 813px;
    height: 42px;
    left: 49px;
    top: 157px;
  }

  .pick-and-feed p:nth-of-type(3) {
    width: 823px;
    height: 68px;
    left: 49px;
    top: 209px;
  }

  .pick-and-feed h3 {
    top: 291px;
  }

  .pick-and-feed .widget {
    top: 378px;
  }

  .pick-and-feed .widget p {
    position: absolute;
    left: 0;
    top: 198px;
  }

  .pick-and-feed button {
    top: 692px;
  }
}
