/* pets section */

.pets {
  position: relative;
  padding-bottom: 234px;
}

.pets .cards {
  display: grid;
  grid-template-columns: repeat(4, 366px);
  grid-template-rows: repeat(2, 426px);
  column-gap: 30px;
  row-gap: 20px;
  overflow: hidden;
}

.pets .cards .card {
  position: relative;
  border-radius: 5px;
  border: 1px solid transparent;
  background: var(--orange2) border-box;
  overflow: hidden;
}

.pets .cards .card .image {
  height: 424px;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  translate: 0 0;
  transition: 0.5s;
}

.pets .cards .card:nth-child(1) .image {
  background-image: url("../../assets/images/cards/1_giant_panda.svg");
}

.pets .cards .card:nth-child(2) .image {
  background-image: url("../../assets/images/cards/2_eagles.svg");
}

.pets .cards .card:nth-child(3) .image {
  background-image: url("../../assets/images/cards/3_gorillas.svg");
}

.pets .cards .card:nth-child(4) .image {
  background-image: url("../../assets/images/cards/4_alligators.svg");
}

.pets .cards .card:nth-child(5) .image {
  background-image: url("../../assets/images/cards/5_two-toed_sloth.svg");
}

.pets .cards .card:nth-child(6) .image {
  background-image: url("../../assets/images/cards/6_cheetahs.svg");
}

.pets .cards .card:nth-child(7) .image {
  background-image: url("../../assets/images/cards/7_penguin.svg");
}

.pets .cards .card:nth-child(8) .image {
  background-image: url("../../assets/images/cards/3_gorillas.svg");
}

.pets .cards .card:hover .image {
  transform: scale(calc(374 / 364));
}

.pets .card .description {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;

  background: white;
  color: black;
  transition: 0.5s;
}

.pets .cards .card:hover .description {
  height: calc(424px / 2);

  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.pets .description p.btn {
  position: absolute;
  width: 294px;
  height: 22px;
  left: 16px;
  top: 8px;

  text-transform: uppercase;
}

.pets .description p.small {
  position: absolute;
  width: 294px;
  height: 22px;
  left: 16px;
  top: 28px;
}

.pets .description .banana-bamboo {
  position: absolute;
  top: 10px;
  right: 13px;
}

.pets .description .meat-fish {
  position: absolute;
  top: 8px;
  right: 11px;
}

.pets button.arrow.left {
  position: absolute;
  top: calc(872px / 2 - 63px / 2);
  left: calc(50% - 1158px / 2 - 63px - 20px);
}

.pets button.arrow.right {
  position: absolute;
  top: calc(872px / 2 - 63px / 2);
  right: calc(50% - 1158px / 2 - 63px - 20px);
}

.pets button.rounded {
  position: absolute;
  bottom: 100px;
  left: 50%;
  translate: -50% 0;
}

.pets .flower-left {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 292px;
  height: 460px;
  background: url("../../assets/images/palm_foto.svg");
}

.pets .flower-right {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 368px;
  height: 275px;
  background: url("../../assets/images/strelitzia\ 1.svg");
}

/* pick and feed a friend block */

.pick-and-feed {
  height: 1004px;
  background: var(--orange-gradient);
  opacity: 0.9;
  color: var(--black-blue);
}

.pick-and-feed .container {
  position: relative;
  margin: 69px auto;
  height: 835px;

  background: var(--frosted-glass-white);
  backdrop-filter: blur(2px);
  border-radius: 20px;
}

.pick-and-feed h2 {
  position: absolute;
  width: 463px;
  height: 58px;
  left: calc(50% - 463px / 2 + 1.5px);
  top: 41px;

  text-align: center;
  color: #fe9013;
}

.pick-and-feed p.subtitle {
  position: absolute;
  width: 843px;
  height: 29px;
  left: calc(50% - 843px / 2 - 59.5px);
  top: 129px;
}

.pick-and-feed p:nth-of-type(2) {
  position: absolute;
  width: 1061px;
  height: 21px;
  left: calc(50% - 1061px / 2 + 49.5px);
  top: 198px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
}

.pick-and-feed p:nth-of-type(3) {
  position: absolute;
  width: 863px;
  height: 42px;
  left: calc(50% - 863px / 2 - 49.5px);
  top: 229px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
}

.pick-and-feed p:nth-of-type(3) a {
  color: var(--black-blue);
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
}

.pick-and-feed .underline {
  content: "";
  position: absolute;
  width: 178px;
  height: 1px;
  left: calc(50% - 178px / 2 - 305px);
  top: 272px;
  background-color: #fe9013;
}

.pick-and-feed p:nth-of-type(3):has(a:hover) ~ .underline {
  background-color: var(--green);
}

.pick-and-feed h3 {
  position: absolute;
  width: 209px;
  height: 47px;
  left: calc(50% - 209px / 2 - 0.5px);
  top: 331px;
}

.pick-and-feed .widget {
  position: absolute;
  width: 168px;
  height: 244px;
  top: 418px;
}

.pick-and-feed .widget.pay {
  left: calc(50% - 168px / 2 - 298px);
}

.pick-and-feed .widget.zoo {
  left: calc(50% - 168px / 2);
}

.pick-and-feed .widget.monkey {
  left: calc(50% - 168px / 2 + 298px);
}

.pick-and-feed .widget .border {
  position: absolute;
  top: 0;
  left: 0;
  width: 168px;
  height: 168px;
  border-radius: 5px;
  background: var(--orange);
}

.pick-and-feed .widget .icon {
  position: absolute;
  top: 1px;
  left: 1px;

  width: 166px;
  height: 166px;
  border-radius: 5px;
  background-color: #ffffff;
}

.pick-and-feed .widget.pay .icon,
.pick-and-feed .widget.monkey .icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pick-and-feed .widget.pay .icon .image {
  height: 60px;
  width: 108px;
  background-image: url(../../assets/icons/pay.svg);
}

.pick-and-feed .widget.zoo .icon .image {
  margin-top: 37px;
  margin-left: 41px;
  height: 96px;
  width: 87px;
  background-image: url(../../assets/icons/zoo.png);
}

.pick-and-feed .widget.monkey .icon .image {
  height: 73px;
  width: 126px;
  background-image: url(../../assets/icons/monkey.svg);
}

.pick-and-feed .widget p {
  position: absolute;
  left: 0;
  top: 198px;
}

.pick-and-feed .widget.pay::after,
.pick-and-feed .widget.zoo::after {
  content: "";
  position: absolute;
  top: calc(168px / 2 - 37px / 2);
  left: calc(168px + 30px);
  width: 71px;
  height: 37px;
  background-image: url("../../assets/icons/widget-arrow.svg");
}

.pick-and-feed button {
  position: absolute;
  width: 298px;
  height: 54px;
  left: calc(50% - 298px / 2);
  top: 722px;
}

/* testimonials section */

.testimonials {
  position: relative;
}

.testimonials .container {
  position: relative;
  margin-top: 140px;
  margin-bottom: 204px;
  height: 575px;
}

.testimonials h3 {
  color: var(--black-blue);
  text-align: center;
}

.testimonials div.testimonials {
  margin-top: 47px;
  margin-bottom: 21px;
  height: 391px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
}

.testimonials div.testimonials .testimonial {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: var(--pink-gradient);
}

.testimonials .testimonial .wrapper {
  height: 100%;
  border: 2px solid transparent;
  border-radius: 20px;
  background: var(--gray-light) padding-box;
}

.testimonials .testimonial .user-icon {
  position: absolute;
  width: 37px;
  height: 37px;
  left: 16px;
  top: 15px;
  background: url("../../assets/icons/user1.svg");
}

.testimonials .testimonial .user-icon img {
  position: absolute;
  top: 0;
  left: 0;
  width: 37px;
  height: 37px;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
}

.testimonials .testimonial .name {
  position: absolute;
  height: 19px;
  left: 63px;
  top: 15px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
}

.testimonials .testimonial .location {
  position: absolute;
  width: 87px;
  height: 18px;
  left: 63px;
  top: 35px;

  color: #bdbdbd;
}

.testimonials .testimonial .dot {
  position: absolute;
  width: 5px;
  height: 18px;
  left: 156px;
  top: 35px;

  color: #bdbdbd;
}

.testimonials .testimonial .date {
  position: absolute;
  width: 41px;
  height: 18px;
  left: 166px;
  top: 35px;

  color: #bdbdbd;
}

.testimonials .testimonial .text {
  position: absolute;
  width: 237px;
  height: 308px;
  left: 16px;
  top: 63px;

  color: var(--gray);
  overflow: hidden;
}

.testimonials input {
  position: absolute;
  width: 600px;
  height: 8px;
  left: calc(50% - 300px);
  top: 506px;

  -webkit-appearance: none;
  background: linear-gradient(#f5f7f6, #f5f7f6) padding-box,
    var(--pink-gradient) border-box;
  border: solid 0.5px transparent;
  border-radius: 5px;
}

/* Special styling for WebKit/Blink */
.testimonials input::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 6px;
  width: 115.19px;
  border-radius: 5px;
  background: #fe9013;
  cursor: pointer;
}

/* All the same stuff for Firefox */
.testimonials input::-moz-range-thumb {
  height: 6px;
  width: 115.19px;
  border-radius: 5px;
  background: #fe9013;
  cursor: pointer;
}

/* All the same stuff for IE */
.testimonials input::-ms-thumb {
  height: 6px;
  width: 115.19px;
  border-radius: 5px;
  background: #fe9013;
  cursor: pointer;
}

.testimonials button {
  position: absolute;
  top: 545px;
  left: 0;
}

.testimonials .flower-img {
  position: absolute;
  bottom: calc(-408px + 274.5px);
  right: 0;
  width: 247px;
  height: 408px;
  background: url(../../assets/images/leav_foto.svg);
}
