section.watch-animal {
  position: relative;
  background-image: url(../../assets/images/panda_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 780px;
}

.watch-animal .circle {
  position: absolute;
  top: 92px;
  left: calc(50% - 465px / 2 + 239.5px);

  width: 465px;
  height: 465px;
  border-radius: 50%;
  background: var(--orange);
}

.watch-animal .circle p {
  position: absolute;
  left: 73px;
  top: 74px;

  width: 500.31px;

  font-weight: 700;
  font-size: 106.496px;
  line-height: 75%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  cursor: default;
}

.watch-animal .circle p .yellow {
  color: var(--yellow);
}

.watch-animal button {
  position: absolute;
  left: calc(50% - 298px / 2 + 332px);
  top: 626px;
}
