button {
  width: 298px;
  height: 54px;
  background: var(--orange);
  border: none;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}

button.rounded {
  border-radius: 25px;
}

button:hover {
  background: #e47209;
}

button:active {
  background: var(--green);
}

button:disabled {
  background: var(--gray);
}
