* {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

h1 {
  font-weight: 700;
  font-size: 114px;
  line-height: 80%;
  /* or 91px */
}

h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  /* identical to box height, or 58px */
}

h3 {
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  /* identical to box height, or 47px */
}

.subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  /* identical to box height, or 29px */
}

.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
}

p.small {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  /* identical to box height, or 18px */
}
