footer {
  height: 443px;
  background-color: #111115;
}

footer .container {
  position: relative;
}

footer .logo {
  position: absolute;
  top: 41px;
  left: 0;
}

footer button.btn {
  position: absolute;
  left: 0;
  top: 161px;
}

footer ul.socials {
  position: absolute;
  top: 259px;
  left: calc(26px + 12px);

  display: flex;
  flex-direction: column;
  gap: 10px;

  list-style-type: none;
}

footer ul.socials li {
  position: relative;
  height: 26px;
}

footer ul.socials li a {
  position: absolute;
  left: 0;
  top: 5px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
}

footer ul.socials li a:hover,
footer ul.socials li a:active {
  background: var(--green);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

footer ul.socials li a::before {
  content: "";
  position: absolute;
  left: calc(-26px - 12px);
  top: -2.5px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: rgba(196, 196, 196, 0.5);
}

footer ul.socials li a:hover::before,
footer ul.socials li a:active::before {
  background: var(--green);
}

footer ul.socials li.facebook a::after {
  content: "";
  position: absolute;
  left: calc(-26px / 2 - 8px / 2 - 12px);
  top: calc(-2.5px + 26px / 2 - 16px / 2);
  width: 8px;
  height: 16px;
  background: url("../../assets/icons/socials/facebook.png");
}

footer ul.socials li.twitter a::after {
  content: "";
  position: absolute;
  left: calc(-26px / 2 - 16px / 2 - 12px);
  top: calc(-2.5px + 26px / 2 - 14px / 2);
  width: 16px;
  height: 14px;
  background: url("../../assets/icons/socials/twitter.png");
}

footer ul.socials li.instagram a::after {
  content: "";
  position: absolute;
  left: calc(-26px / 2 - 16px / 2 - 12px);
  top: calc(-2.5px + 26px / 2 - 16px / 2);
  width: 16px;
  height: 16px;
  background: url("../../assets/icons/socials/instagram.png");
}

footer ul.socials li.youtube a::after {
  content: "";
  position: absolute;
  left: calc(-26px / 2 - 18px / 2 - 12px);
  top: calc(-2.5px + 26px / 2 - 13px / 2);
  width: 18px;
  height: 13px;
  background: url("../../assets/icons/socials/youtube.png");
}

footer nav {
  position: absolute;
  top: 371px;
  left: 399px;
}

footer .copyright {
  position: absolute;
  top: 341px;
  bottom: 50px;
  right: 0;
}

footer .copyright p {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  line-height: 130%;
  color: #ffffff;
}

footer .copyright:hover p,
footer .copyright:active p {
  content: "";
  margin-bottom: 9px;
  border-bottom: 1px solid var(--green);
}

footer form {
  position: absolute;
  top: 40px;
  right: 0;
  width: calc(228px + 10px + 129px);
}

footer form label {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
}

footer form input[type="email"] {
  position: absolute;
  top: 43px;
  left: 0;
  width: 228px;
  height: 42px;
  padding: 10px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #bdbdbd;

  border-radius: 2px;
  border: 0.7px solid transparent;
  background: linear-gradient(#111115, #111115) padding-box,
    var(--orange) border-box;
}

footer form input[type="email"]:focus {
  outline: none;
}

footer form input[type="email"]:focus:invalid {
  background: linear-gradient(#111115, #111115) padding-box,
    var(--red) border-box;
}

footer form input[type="email"]:focus:valid {
  background: linear-gradient(#111115, #111115) padding-box,
    var(--green) border-box;
}

footer form input[type="submit"] {
  position: absolute;
  top: 43px;
  right: 0;
  width: 129px;
  height: 42px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: var(--black-blue);

  border: 1px solid;
  border-radius: 5px;
  background-color: var(--gray-light);
}

footer form input[type="submit"]:has(~ input[type="email"]:valid) {
  cursor: pointer;
}

footer form input[type="submit"]:has(~ input[type="email"]:focus:valid) {
  color: var(--green);
}

footer form input[type="submit"]:has(~ input[type="email"]:focus:invalid) {
  color: var(--red);
}
