nav ul {
  display: flex;
  align-items: center;
  gap: 58px;
  width: 100%;
  list-style: none;
}

nav a {
  color: white;
}

nav ul a:hover,
nav ul a#current-page {
  background: var(--orange) padding-box;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

header {
  background-color: black;
  height: 80px;
}

header nav {
  display: flex;
  align-items: center;
  height: 100%;
}

header nav a.logo {
  margin-right: 63px;
}

header nav ul li:nth-last-child(2) {
  flex-grow: 1;
}

@container (max-width: 940px) {
  nav ul {
    gap: 48px;
  }
}
