header {
  background-color: black;
  height: 80px;
}

nav.container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

nav a.logo {
  margin-right: 63px;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 58px;
  width: 100%;
  list-style: none;
}

nav ul li:nth-last-child(2) {
  flex-grow: 1;
}

nav a {
  color: white;
}

nav a:hover,
nav a#current-page {
  background: var(--orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
