* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
}

section {
  overflow: hidden;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  width: 100%;
}

/* hide arrows from input type number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  appearance: textfield;
}

@media (max-width: 1200px) {
  .container {
    max-width: 940px;
  }
}

@media (max-width: 960px) {
  .container {
    max-width: calc(100% - 40px);
  }
}

@media (max-width: 520px) {
  .container {
    max-width: calc(100% - 21px);
  }
}
