.panda-bg {
  height: calc(390px - 4px);
  background-image: url("../../assets/images/panda_bg.jpg");
  background-position: center;
  background-size: cover;
}

.pick-and-feed {
  height: 1482px;
  background-image: var(--orange-gradient);
}

.pick-and-feed h3 {
  margin-top: 40px;
  min-height: 47px;
  color: white;
}

.pick-and-feed .container > p {
  margin-top: 10px;
  min-height: 94px;
  color: white;
  font-weight: 500;
}

.pick-and-feed h3.orange {
  margin-top: 40px;
  min-height: 47px;
  color: #fe9013;
}

.pick-and-feed .donate {
  position: relative;
  min-height: 964px;
  margin-top: 60px;
  margin-bottom: 180px;
  padding-top: 40px;
  padding-bottom: 62px;
  padding-left: 92px;
  padding-right: 92px;

  background: rgba(255, 255, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  color: var(--black-blue);
}

.donate h2 {
  min-height: 58px;
  text-align: center;
  color: #fe9013;
}

.donate .subtitle {
  margin-top: 20px;
  min-height: 29px;
}

.donate .diets {
  position: relative;
  margin-top: 165px;
  margin-left: 215px;
  width: 159px;
  text-align: center;
}

.donate .diets .number {
  height: 58px;
  font-weight: 500;
  font-size: 72px;
  line-height: 80%;
  color: black;
}

.donate .diets .text {
  margin-top: 11px;
  height: 22px;
}

.donate .x {
  position: absolute;
  top: calc(190px - 165px);
  left: 170px;
}

.donate .panda {
  position: absolute;
  top: calc(60px - 165px);
  left: calc(159px + 89px);
}

.donate .label {
  margin-top: 98px;
  margin-left: 4px;
  width: 57px;
  height: 22px;
  color: black;
}

.donate .buttons {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 27px;
  margin-top: 17px;
  margin-bottom: 12px;
  padding-left: 26px;
  padding-right: 30px;

  border-radius: 2px;
  background-color: #404950;
}

.donate .buttons .line {
  position: absolute;
  top: 13px;
  left: 31px;
  right: 31px;

  height: 2px;
  background-color: #72828e;
}

.donate .buttons .radio {
  position: relative;
  width: 40px;
  height: 40px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ffee2e padding-box;
  z-index: 1;
}

.radio::before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  translate: -15px -17px;
  background: url("../../assets/icons/roller_icon.png");
  opacity: 0;
}

.radio:hover::before {
  opacity: 0.5;
}

.radio#clicked::before {
  opacity: 1;
}

.radio::after {
  position: absolute;
  top: calc(9px + 21px);
  left: calc(-57px / 2);
  width: 57px;
  height: 36px;

  font-weight: 500;
  font-size: 26px;
  line-height: 140%;
  color: var(--black-blue);
  text-align: left;
}

.radio.dol5000::after {
  content: "$5000";
}

.radio.dol2000::after {
  content: "$2000";
}

.radio.dol1000::after {
  content: "$1000";
}

.radio.dol500::after {
  content: "$500";
}

.radio.dol250::after {
  content: "$250";
}

.radio.dol100::after {
  content: "$100";
}

.radio.dol50::after {
  content: "$50";
}

.radio.dol25::after {
  content: "$25";
}

.radio:hover:after,
.radio#clicked::after {
  color: #fe9013;
}

.donate form {
  margin-top: calc(92px + 6.5px);
  position: relative;
}

.donate form input[type="number"] {
  display: block;
  width: 268px;
  height: 54px;
  margin: 0 auto;
  padding: 16px 9px;

  background-color: transparent;
  border: 1px solid;
  border-radius: 2px;

  color: #929699;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.donate form input[type="number"]:focus {
  border: 1px solid var(--black-blue);
  outline: none;
  color: var(--black-blue);
}

.donate form input[type="number"]:focus ~ .dollar {
  filter: invert(21%) sepia(11%) saturate(664%) hue-rotate(163deg)
    brightness(89%) contrast(90%);
}

.donate form img.dollar {
  position: absolute;
  top: 682px;
  top: 17px;
  left: 694px;
  left: calc(50% + (268px / 2) - 20px);
}

.donate form input[type="radio"] {
  position: absolute;
  top: 79px;

  appearance: none;
  width: 16px;
  height: 16px;

  background-color: transparent;
  border: 1px solid #fe9013;
  border-radius: 50%;
  cursor: pointer;
}

.donate form input[type="radio"]#monthly {
  left: 382px;
}

.donate form input[type="radio"]#once {
  left: 516px;
}

.donate form input[type="radio"]::before {
  content: "";

  position: absolute;
  top: -1px;
  left: -1px;

  display: block;
  width: 16px;
  height: 16px;

  background-color: #fe9013;
  border-radius: 50%;
  opacity: 0;
}

.donate form input[type="radio"]:hover:before {
  opacity: 0.5;
}

.donate form input[type="radio"]:active:before {
  opacity: 1;
  background-color: var(--green);
}

.donate form input[type="radio"]:checked:before {
  opacity: 1;
}

.donate form label {
  position: absolute;
  top: 79px;

  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: var(--black-blue);
  cursor: pointer;
}

.donate form label[for="monthly"] {
  left: 408px;
}

.donate form label[for="once"] {
  left: 542px;
}

.donate button[type="submit"] {
  display: block;
  margin: 77px auto 0 auto;
}

.donate p.share {
  text-align: center;
  margin-top: 30px;
  height: 22px;
}

@media (max-width: 1200px) {
  .panda-bg {
    height: 390px;
  }

  .pick-and-feed {
    min-height: 1333px;
    height: fit-content;
  }

  .pick-and-feed h3 {
    min-height: 94px;
    width: 780px;
  }

  .pick-and-feed .container > p {
    margin-top: 30px;
  }

  .pick-and-feed .donate {
    height: fit-content;
    min-height: 918px;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 46px;
  }

  .donate .subtitle {
    margin-top: 10px;
    margin-left: 47px;
    max-width: calc(100% - 47px - 44px);
  }

  .donate .diets {
    position: relative;
    margin: 0 auto;
    margin-top: 165px;
    margin-left: calc(196 / 940 * 100%);

    margin-left: calc(50% - 159px / 2 - 193.5px);
  }

  .donate .label {
    margin-left: 65px;
  }

  .donate .buttons {
    margin-left: 65px;
    margin-right: 65px;
    padding-left: 11px;
    padding-right: 9px;
  }

  .donate .buttons .line {
    left: 11px;
    right: 9px;
  }

  .radio.dol5000 {
    display: none;
  }

  .radio::after {
    left: calc(65px - 76px);
  }

  .donate form input[type="radio"]#monthly {
    left: calc(363 / 940 * 100%);
  }

  .donate form input[type="radio"]#once {
    left: calc(497 / 940 * 100%);
  }

  .donate form label[for="monthly"] {
    left: calc(389 / 940 * 100%);
  }

  .donate form label[for="once"] {
    left: calc(523 / 940 * 100%);
  }
}

@media (max-width: 960px) {
  .donate p.subtitle {
    text-align: center;
  }
}

@media (max-width: 850px) {
  .pick-and-feed h3 {
    max-width: 675px;
  }

  .radio.dol2000 {
    display: none;
  }
}

@media (max-width: 690px) {
  .panda-bg {
    height: calc(335px + 34px);
  }

  .pick-and-feed h3 {
    min-height: 58px;
    width: 600px;
    margin-top: 30px;
    font-size: 24px;
    line-height: 29px;
  }

  .pick-and-feed .container > p {
    margin-top: 20px;
    min-height: 154px;
    line-height: 22px;
  }

  .pick-and-feed h3.orange {
    min-height: 47px;
    line-height: 47px;
    margin-top: 30px;
    font-size: 36px;
  }

  .pick-and-feed .donate {
    margin-top: 30px;
    margin-bottom: 46px;
    padding-top: 30px;
    padding-bottom: 30.98px;
  }

  .donate .subtitle {
    margin-top: 20px;
    margin-left: 0;
    max-width: 100%;
  }

  .donate .diets {
    margin-top: 155px;
    margin-left: calc(50% - 159px / 2 - 193.5px);
  }

  .donate .label {
    margin-top: 91px;
    margin-left: 10px;
  }

  .donate .buttons {
    margin-top: 7px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 35px;
    padding-right: 35px;
  }

  .donate .buttons .line {
    left: 41px;
    right: 35px;
  }

  .donate .buttons .radio.dol1000 {
    display: none;
  }

  .radio::after {
    left: calc(17px - 35px);
  }

  .donate form input[type="number"] {
    width: 180px;
    height: 42px;
    padding: 14px 5px;
  }

  .donate form img.dollar {
    top: 11px;
    left: calc(50% + (180px / 2) - 20px);
  }

  .donate form input[type="radio"]#monthly {
    top: 75px;
    left: calc(192 / 600 * 100%);
  }

  .donate form input[type="radio"]#once {
    top: 75px;
    left: calc(326 / 600 * 100%);
  }

  .donate form label[for="monthly"] {
    top: 75px;
    left: calc(192 / 600 * 100% + 26px);
  }

  .donate form label[for="once"] {
    top: 75px;
    left: calc(326 / 600 * 100% + 26px);
  }

  .donate button[type="submit"] {
    margin-top: 82px;
  }
}
